// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages
@import "pages/contact-details";
@import "pages/contact-edit";
@import "pages/contact-page";
@import "pages/home-page";
@import "pages/statistic-page";

// Components
@import "cmps/contact-list";
@import "cmps/contact-preview";
@import "cmps/contact-filter";
@import "cmps/input";
@import "cmps/chart";

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .app-header {
        background-color: #2C3333;
        color: white;
        // padding-inline-start: 30px;
        // padding-inline-end: 30px;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            gap: 5px;
        }

    }

    // main {
    //     flex-grow: 1;
    // }

    // >footer {
    //     background-color: #111;
    //     color: white;
    // }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #100F0F;
        color: white;
        padding: 10px;
    }
}