.contact-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        font-size: 1.5rem;


        &:hover {
            color: green;
        }

    }


    .contact-filter {
        display: flex;
        width: fit-content;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-block: 1rem;

        >section {
            display: flex;
            flex-direction: column;
        }
    }


}