.home-page {
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1.5rem;

    h2 {
        text-align: center;

        .username-home {
            font-weight: 700;
            color: rgb(73, 70, 29);
        }
    }

    .home-chart {
        // width: 50%;

        .chart {
            padding: 0;
        }
    }

    .move-list {
        padding-bottom: 50px;
    }


}