.home-page {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        text-align: center;

        .username-home {
            font-weight: 700;
            color: rgb(73, 70, 29);
        }
    }

    .home-status {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        span {
            font-weight: 700;
        }
    }

    .home-chart {

        .chart {
            padding: 0;
        }
    }

    .move-list {
        padding-bottom: 1rem;

        li {
            padding-left: 0;
            padding-right: 0;
        }

    }

}